.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/json/DesignTimeBuild/.dtbcache.v2
.vs/json/v16/.suo
.vscode/launch.json
.vscode/tasks.json
obj/json.csproj.nuget.dgspec.json
obj/json.csproj.nuget.g.props
obj/json.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/json.AssemblyInfo.cs
obj/Debug/net5.0/json.AssemblyInfoInputs.cache
obj/Debug/net5.0/json.assets.cache
obj/Debug/net5.0/json.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/json.csproj.FileListAbsolute.txt
obj/Debug/net5.0/json.csprojAssemblyReference.cache
obj/Debug/net5.0/json.dll
obj/Debug/net5.0/json.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/json.genruntimeconfig.cache
obj/Debug/net5.0/json.pdb
obj/Debug/net5.0/ref/json.dll
obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/net5.0/json.AssemblyInfo.cs
obj/Release/net5.0/json.AssemblyInfoInputs.cache
obj/Release/net5.0/json.assets.cache
obj/Release/net5.0/json.GeneratedMSBuildEditorConfig.editorconfig
bin/Debug/net5.0/json.deps.json
bin/Debug/net5.0/json.dll
bin/Debug/net5.0/json.exe
bin/Debug/net5.0/json.pdb
bin/Debug/net5.0/json.runtimeconfig.dev.json
bin/Debug/net5.0/json.runtimeconfig.json
bin/Debug/net5.0/ref/json.dll
